html {
    text-align: center;
}

body {
    margin: 0;
    overflow: hidden;
}

p {
    padding-left: 4px
}
#canvas {
    z-index: 3;
}

#alerts {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.alert {
    margin: 10px;
}

#toolbar {
    position: absolute;
    z-index: 1;
    margin: 10px auto;
    bottom: 0;
    left: 0;
    right: 0;
}
#about{}

.btn {
	border-radius: 0px;
}

.dropdown-menu {
	border-radius: 0px;
	left: 0;
}

#overlay {
    display: inline-block;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.btn-group > .btn-group {
    float: none;
}

.ui-element{
  display: inline-block;
  font-family: sans-serif;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 16px;
  padding: 2px;
  color: #fff;
  border: 2px solid #fff;

  outline: none;
  text-decoration: none;
  background-color : rgba(255, 0, 0, 0.0);
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ui-element:hover,
.ui-element:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
