html {
  text-align: center;
}

body {
    margin: 0;
    overflow: hidden;

}

#canvas {
    z-index: 3;
}

#alerts {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.alert {
    margin: 10px;
}

#overlay {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    z-index: 1;
}

#stats {
    position: absolute;
    bottom: 0;
    left: 10px;
    margin: 10px auto;
    z-index: 1;
    display: none;
}